<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belanja-contact us</title>
    <link rel="stylesheet" href="./css/contact.css">
</head>
<body>

    <div class="header">
      <nav>
        <ul>
          <li><a href="#">&#8801;</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="#">Browse</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">|</a></li>
          <li><a href="#">M</a></li>
        </ul>
      </nav>
    </div>


</body>
</html>