<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda-Store</title>
    <link rel="stylesheet" href="./css/discover.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <nav class="navbar">
          <h2 class="back">X</h2>
          <img
            src="https://i.pinimg.com/564x/84/c4/c1/84c4c143fc2ad9371586847df04c7cec.jpg"
          />
          <p>PANDA STORE</p>
          <ul class="bar">
            <li><a href="#">Store</a></li>
            <li><a href="#">Library</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>

          <div class="navsetting">
            <nav class="sidesetting">
              <ul class="atas">
                <li><a href="#">Mufid Risqi</a></li>
                <li><a href="#">My Achievement</a></li>
              </ul>

              <div class="garis"></div>

              <ul class="tengah">
                <li><a href="#">Account</a></li>
                <li><a href="#">Redeem Code</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy Pilicy</a></li>
              </ul>

              <div class="garis"></div>

              <ul class="bawah">
                <li><a href="#">Sign Out</a></li>
              </ul>
            </nav>
          </div>
        </nav>

        <div class="head">
          <nav class="menu">
            <ul>
              <li class="garis-tiga">
                <div class="side">
                  <h1 class="ada aktif">&#8801;</h1>
                </div>
              </li>
              <li>
                <form>
                  <input
                    type="text"
                    class="search"
                    placeholder="search"
                  /><button type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </form>
              </li>
              <li><a href="discover.html">Discover</a></li>
              <li><a href="#">Browse</a></li>
              <li><a href="#">News</a></li>
              <li class="lastnav">
                <nav class="last">
                  <ul>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Cart</a></li>
                  </ul>
                </nav>
              </li>
              <li>
                <h3 class="garis">|</h3>
              </li>
              <li>
                <div class="teman">
                  <h1>F</h1>
                </div>
              </li>
              <li>
                <div class="my-akun">
                  <h1>M</h1>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="heading">
        <h1>Welcome <span style="color: yellow;">To</span></h1>
        <h2><span style="color: yellow;">My</span> <span style="color: red;">First Store</span></h2>
        <h5>Panda Store</h5>
        <p>Setiap langkah kecil mengarah pada kesuksesan.</p>
      </div>
      <div class="animasi">
        <script
          src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
          type="module"
        ></script>

        <dotlottie-player
          src="https://lottie.host/fdf5f4b6-e194-493f-a198-59c99486ef95/XK9wrPZjTP.json"
          background="transparent"
          speed="1"
          style="width: 500px; height: 500px"
          loop
          autoplay
        ></dotlottie-player>
      </div>
    </div>

    <script src="./js/discover.js"></script>
  </body>
</html>
